{% extends '::base.html.twig' %}
{% block body %}
<nav>
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="{{ path('home') }}" class="breadcrumb">Home</a>
            <a href="{{ path('customer_index') }}" class="breadcrumb">Liste clients</a>
            <a href="{{ path('customer_create') }}" class="breadcrumb">creation client</a>
        </div>
    </div>
</nav>
    {{ form_start(form) }}

    {{ form_errors(form) }}

    <div class="row mgr-T-15 ">
        <div class="col s6 center-align form-orderCustomer-img">
            <img width="44%" src="{{ asset('img/office.png') }}">
        </div>
        <div class="col s6 form-orderCustomer-input">
            {{ form_row(form.numberAccount, {
                'label': 'N° Compte',
                'attr': {'style': 'margin-bottom:15px'}
                })
            }}
            {{ form_row(form.entitled, {
                'label': 'Intitulé',
                'attr': {'style': 'margin-bottom:15px'}
                })
            }}
            {{ form_row(form.ranking, {
                'label': 'Classement',
                'attr': {'style': 'margin-bottom:15px'}
                })
            }}
            {{ form_row(form.nameRepresentative, {
                'label': 'Nom du représentant',
                'attr': {'style': 'margin-bottom:15px'}
                })
            }}
            {{ form_row(form.price, {
                'label': "Catégorie Tarifaire",
                'attr': {'style': 'margin-bottom:15px'}
                })
            }}
        </div>
        <div class="col s12">
            <div class="col s6">
                {{ form_row(form.name, {
                    'label': 'Nom',
                    'attr': {'style': 'margin-bottom:15px'}
                    })
                }}
                {{ form_row(form.address, {
                    'label': 'Adresse',
                    'attr': {'style': 'margin-bottom:15px'}
                    })
                }}
                {{ form_row(form.city, {
                    'label': "Ville",
                    'attr': {'style': 'margin-bottom:15px'}
                    })
                }}
                {{ form_row(form.phoneNumber, {
                    'label': "Numéro de téléphone",
                    'attr': {'style': 'margin-bottom:15px'}
                    })
                }}
            </div>
            <div class="col s6">
                {{ form_row(form.email, { 'label': 'Email',
                    'attr': {'style': 'margin-bottom:15px'}
                    })
                }}
                {{ form_row(form.additionalAddress, {
                    'label': "Complement d'adresse",
                    'attr': {'style': 'margin-bottom:15px'}
                    })
                }}
                {{ form_row(form.zipCode , {
                    'label': "Code postale",
                    'attr': {'style': 'margin-bottom:15px'}
                    })
                }}
                {{ form_row(form.save, {
                    'attr': {'style': 'display:none'}
                })
                }}
                <div class="center-align form-save-customer">
                    <button id="appbundle_customer_save" class=" col s12 btn waves-effect waves-light" type="submit" name="appbundle_customer[save]">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
